<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="f1eaab1a-0efa-47bd-b1dd-bdcd4a16e270" name="TestSuite 3" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="f1eaab1a-0efa-47bd-b1dd-bdcd4a16e270fileName">TestSuite-3</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
